<div class="sell-buy-left border-box">

    <div class='sell-buy-left-con border-box qcfd' [ngClass]="{'model': modeSel == 'tile'}">

        <!-- 买入 -->
        <div class='sell-buy-left-con-item border-box f-fl' [ngClass]="{'block': modeSel == 'traditional' || side == 'buy'}"> <!-- *ngIf="modeSel == 'traditional' || (modeSel == 'tile' && side == 'buy')" -->

            <div *ngIf="modeSel == 'traditional'" class='sell-buy-left-con-item-blance border-box'>
                <span class='sell-buy-left-con-item-blance-item head-act'>{{'tradeBuySell.priceFixingTrade' | translate}}</span>
                <span class='f-fr balance f-opacity'>
                    <span>{{'tradeBuySell.balance' | translate}}</span> {{baseBalance || 0}}  <span>{{symbol.split('_')[1]}}</span>
                </span>
            </div>

            <div *ngIf="modeSel == 'tile'" class='sell-buy-left-con-item-model-tile border-box'>
                <div class="tile-small act">{{'tradeBuySell.purchase' | translate}}</div>
                <div class="tile-small" (click)='side = "sell"'>{{'tradeBuySell.sellOut' | translate}}</div>
                <span class='sell-buy-left-con-item-blance-item head-act f-opacity tile-big'>{{'tradeBuySell.priceFixingTrade' | translate}}</span>
            </div>

            <!-- 余额 -->
            <p *ngIf="modeSel == 'tile'" class='sell-buy-left-con-item-balance qcfd'>
                <span class='f-fl f-opacity-k'>{{'tradeBuySell.balance' | translate}}</span>
                <span class='f-fr balances'>
                    <span class='f-opacity'>{{baseBalance || 0}} </span>
                    <span>{{symbol.split('_')[1]}}</span>
                </span>
            </p>

            <div class='sell-buy-left-con-item-price border-box qcfd' [ngClass]="{'model-prices': modeSel == 'tile'}">
                <span class='sell-buy-left-con-item-price-title'>{{'tradeBuySell.price' | translate}}</span>
                <input #pBuy type="text" [(ngModel)]="buyPrice"
                    (keydown)="onInputKeyDown($event)"
                    (ngModelChange)="onModelChange('buyPrice', pBuy.value, precision.pricePrecision)">
                <span class='sell-buy-left-con-item-price-symbol'>{{symbol.split('_')[1]}}</span>
            </div>

            <div class='sell-buy-left-con-item-price sell-buy-left-con-item-prices qcfd' [ngClass]="{'model-prices model-prices-t': modeSel == 'tile'}">
                <span class='sell-buy-left-con-item-price-title'>{{'tradeBuySell.amount' | translate}}</span>
                <input #vBuy type="text" [ngClass]="{'fail': buyTipFlag}" [(ngModel)]="buyNum"
                    (keydown)="onInputKeyDown($event)"
                    [placeholder]="('tradeBuySell.minOrderAmount' | translate) +': '+ precision.minSize"
                    (ngModelChange)="onModelChange('buyNum', vBuy.value, precision.amountPrecision)">
                <span class='sell-buy-left-con-item-price-symbol'>{{symbol.split('_')[0]}}</span>
                <p class='sell-buy-left-con-item-price-tip' *ngIf="buyTipFlag">
                    <span></span>
                    {{'tradeBuySell.minOrderAmount' | translate}}: {{toNumbers(precision.minSize)}}
                </p>
            </div>

            <div class='sell-buy-left-con-item-relx qcfd' [ngClass]="{'model-relx': modeSel == 'tile'}">
                <div class='sell-buy-left-con-item-relx-item noselect' (click)='user.token() && !!buyPrice && raleBuy(0.25)'>25%</div>
                <div class='sell-buy-left-con-item-relx-item noselect' (click)='user.token() && !!buyPrice && raleBuy(0.5)'>50%</div>
                <div class='sell-buy-left-con-item-relx-item noselect' (click)='user.token() && !!buyPrice && raleBuy(0.75)'>75%</div>
                <div class='sell-buy-left-con-item-relx-item noselect' (click)='user.token() && !!buyPrice && raleBuy(1)'>100%</div>
                <div class='sell-buy-left-con-item-money f-opacity'>
                    {{'tradeBuySell.tradeQuota' | translate}} = <span>{{(buyNum && buyPrice) ? regular.toBigsells([buyNum,buyPrice],precision.pricePrecision || 0) : '0' }} {{symbol.split('_')[1]}}</span>
                </div>
            </div>

            <div class='sell-buy-left-con-item-btn noselect'  *ngIf="user.token()" (click)='buy()'> {{'tradeBuySell.purchase' | translate}} {{symbol.split('_')[0]}}</div>
            <div class='sell-buy-left-con-item-btn login noselect'  *ngIf="!user.token()" (click)='login()'>{{'Header.login' | translate}}</div>
        </div>

        <!-- 卖出 -->
        <div class='sell-buy-left-con-item border-box f-fl' [ngClass]="{'block': modeSel == 'traditional' || side == 'sell'}"> <!-- *ngIf="modeSel == 'traditional' || (modeSel == 'tile' && side == 'sell')" -->

            <div  *ngIf="modeSel == 'traditional'" class='sell-buy-left-con-item-blance border-box'>
                <span class='sell-buy-left-con-item-blance-item head-act f-opacity'>{{'tradeBuySell.priceFixingTrade' | translate}}</span>
                <span class='f-fr balance f-opacity'>
                    <span>{{'tradeBuySell.balance' | translate}}</span>  {{quoteBalance || 0}}  <span>{{symbol.split('_')[0]}}</span>
                </span>
            </div>

            <div  *ngIf="modeSel == 'tile'" class='sell-buy-left-con-item-model-tile border-box'>
                <div class="tile-small" (click)='side = "buy"'>{{'tradeBuySell.purchase' | translate}}</div>
                <div class='act tile-small'>{{'tradeBuySell.sellOut' | translate}}</div>
            </div>

            <!-- 余额 -->
            <p *ngIf="modeSel == 'tile'" class='sell-buy-left-con-item-balance qcfd'>
                <span class='f-fl f-opacity-k'>{{'tradeBuySell.balance' | translate}}</span>
                <span class='f-fr balances'>
                    <span class='f-opacity'>{{quoteBalance || 0}} </span>
                    <span>{{symbol.split('_')[0]}}</span>
                </span>
            </p>
            <div class='sell-buy-left-con-item-price border-box qcfd' [ngClass]="{'model-prices': modeSel == 'tile'}">
                <span class='sell-buy-left-con-item-price-title'>{{'tradeBuySell.price' | translate}}</span>
                <input #pSell type="text" [(ngModel)]="sellPrice"
                    (keydown)="onInputKeyDown($event)"
                    (ngModelChange)="onModelChange('sellPrice', pSell.value, precision.pricePrecision)">
                <span class='sell-buy-left-con-item-price-symbol'>{{symbol.split('_')[1]}}</span>

            </div>

            <div class='sell-buy-left-con-item-price sell-buy-left-con-item-prices qcfd' [ngClass]="{'model-prices model-prices-t': modeSel == 'tile'}">
                <span class='sell-buy-left-con-item-price-title'>{{'tradeBuySell.amount' | translate}}</span>
                <input #vSell type="text" [ngClass]="{'fail': sellTipFlag}" [(ngModel)]="sellNum"
                    (keydown)="onInputKeyDown($event)"
                    [placeholder]="('tradeBuySell.minOrderAmount' | translate) +': '+ precision.minSize"
                    (ngModelChange)="onModelChange('sellNum', vSell.value, precision.amountPrecision)">
                <span class='sell-buy-left-con-item-price-symbol'>{{symbol.split('_')[0]}}</span>
                <p class='sell-buy-left-con-item-price-tip' *ngIf="sellTipFlag">
                    <span></span>
                    {{'tradeBuySell.minOrderAmount' | translate}}: {{toNumbers(precision.minSize)}}
                </p>
            </div>

            <div class='sell-buy-left-con-item-relx sell-relx qcfd' [ngClass]="{'model-relx': modeSel == 'tile'}">
                <div class='sell-buy-left-con-item-relx-item noselect' (click)='user.token() && !!sellPrice && raleSell(0.25)'>25%</div>
                <div class='sell-buy-left-con-item-relx-item noselect' (click)='user.token() && !!sellPrice && raleSell(0.5)'>50%</div>
                <div class='sell-buy-left-con-item-relx-item noselect' (click)='user.token() && !!sellPrice && raleSell(0.75)'>75%</div>
                <div class='sell-buy-left-con-item-relx-item noselect' (click)='user.token() && !!sellPrice && raleSell(1)'>100%</div>
                <div class='sell-buy-left-con-item-money f-opacity'>
                    {{'tradeBuySell.tradeQuota' | translate}} = <span>{{(sellPrice && sellNum) ? regular.toBigsells([sellNum,sellPrice],precision.pricePrecision || 0) : '0'}} {{symbol.split('_')[1]}}</span>
                </div>
            </div>


            <div class='sell-buy-left-con-item-btn sell-btn noselect' *ngIf="user.token()" (click)='sell()'> {{'tradeBuySell.sellOut' | translate}} {{symbol.split('_')[0]}}</div>
            <div class='sell-buy-left-con-item-btn login sell-btn noselect' *ngIf="!user.token()" (click)='login()'>{{'Header.login' | translate}}</div>
        </div>

    </div>

</div>
