@import "../../../skin/mixin";

.order-list{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    @include mixin-font-color();
    header{
        height: 54px;
        width: 100%;
        .assets-list-row{
            display: inline-block;
            line-height: 52px;
            font-size: 14px;
            width: 30px;
            margin-left: -21px;
            text-align: center;
        }
        .order-list-ser{
            margin-top: 10px;
            width:128px;
            height: 32px;
            margin-right: 10px;
            display: inline-block;
            @include mixin-bg-color();
            border: 1px solid;
            @include mixin-border-color();
            border-radius: 4px
        }
        .order-list-ser:first-child{
            margin-right: 20px;
        }
        .date{
            width:200px;
        }
        #btna{
            background: #4181ff !important;
            color: #fff;
            position: relative;
            border-radius: 4px;
            text-align: center;
            line-height: 32px;
        }
        #btna:hover{
            background: #1E5ED9 !important;
        }
    }
    &-con{
        width: 100%;
        @include mixin-bg-color();
        padding-bottom: 10px;
        border-radius: 4px;
        min-height: 526px;
        border: 1px solid;
        @include mixin-border-color();
        &-list{
            width: 100%;
            line-height: 40px;
            display: flex;
            padding-left: 20px;
            box-sizing: border-box;
            flex-direction: inherit;
            border-bottom: 1px solid;
            @include mixin-border-color();
            &-item{
                flex: 1;
                text-align: left;
            }
            .special{
                flex: .5;
                text-align: center;
                font-weight: 800;
            }
            .flex1{
                flex: .5;
            }
        }
        .hover:hover{
            @include mixin-border-bg();
        }
        &-list:nth-of-type(1){
            div{
                opacity: $opction;
            }
            .special{
                @include mixin-font-color();
            }
        }

    }
    &-detail{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 333;
        &-zhan{
            @include mixin-dialog-bg();
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        &-con{
            width: 442px;
            padding: 50px 20px 20px;
            // min-height: 450px;
            @include mixin-bg-color();
            border-radius: 4px;
            .close{
                position: absolute;
                right: 20px;
                top: 20px;
                width: 20px;
            }
            &-type{
                height: 12px;
                font-size: 12px;
                width: 100%;
                text-align: center;
                // font-weight: 600;
                margin: 0 0 40px;
            }
            &-btn{
                width: 100%;
                height: 40px;
                display: flex;
                flex-direction: inherit;
                div{
                    flex: 1;
                    text-align: center;
                    line-height: 40px;
                    color: #4F6CFF;
                    margin-right: 5px;
                    border-radius: 4px;
                }
                .btn{
                    @include mixin-color-blue-bg();
                    color: #fff;
                    font-weight: 800;
                    margin-left: 5px;
                }
            }
        }

    }
}
